{% extends 'main.html' %}

{% block content %}

    <!-- Main -->
    <main class="container">

        <div class="card border-primary chat-window my-5">
            <h4 class="card-header chat-header">
                Chat goes here...
            </h4>

            <section class="card-body chat-messages">
                <div class="card mb-3 col-10">
                    <div class="card-body p-2">
                        <h6 class="card-title mb-1">Pampushka Understander</h6>
                        <p class="card-text mb-1">{{ quest }}</p>
                        <p class="card-text fst-italic"><small class="text-muted">just now</small></p>
                    </div>
                </div>

                <div class="card mb-3 col-10 float-end">
                    <div class="card-body p-2">
                        <h6 class="card-title mb-1">User</h6>
                        <p class="card-text mb-1">{{ text }} </p>
                        <p class="card-text fst-italic"><small class="text-muted">just now</small></p>
                    </div>
                </div>

                <div class="card mb-3 col-10">
                    <div class="card-body p-2">
                        <h6 class="card-title mb-1">Pampushka Understander</h6>
                        <p class="card-text mb-1">{{ res }}</p>
                        <p class="card-text fst-italic"><small class="text-muted">just now</small></p>
                    </div>
                </div>

            </section>

            <section class="card-footer chat-footer">
                <form action="" method="POST">
                    <div class="input-group">
                        {% csrf_token %}
                        <input class="form-control" type="text" name="text" id="userMessage"
                               placeholder="Type your message...">
                        <input class="btn btn-outline-primary btn-lg" type="submit" value="Send">
                        {% comment %}
                        {% endcomment %}
                    </div>
                </form>
            </section>
        </div>
    </main>

{% endblock content %}